{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/checklist.ico' %}" type="image/x-icon">
  <title>{% block titulo %}{% endblock %}</title>

  <!-- Arquivos estáticos -->
  {% block head %}{% endblock %}
  
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header">
      
      <div class="title">
        <div class="message-return">
          {% if messages %}
            {% for message in messages %}
              <div class="msg-{{message.tags}}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        </div>

        <!-- <div class="message-return">
              <div class="msg-success">
                TESTE
              </div>
        </div> -->

        {% block title %}{% endblock %}
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      {% block form %}{% endblock %}
    </div>
  </main>
</body>
</html>