{% load static %}
<scroll-container>
  <div class="box-list">
    <ul>
        {% for item in itens %}
            <li>
              <div>
                <input type="checkbox" {% if item.checado %}checked{% endif %}>
                <span>{{ item }}</span>
              </div>
              <div>
                <a href="{% url 'item.verificar' item.id %}">
                  <img src="{% static 'img/check.svg' %}" width="20" alt="icon-marcar">
                </a>
                <a href="{% url 'item.remover' item.id %}">
                  <img src="{% static 'img/trash.svg' %}" width="20" alt="icon-lixeira">
                </a>
              </div>
            </li>
        {% endfor %}
    </ul>
  </div>
</scroll-container>