<!-- Herda o html do 'base.html' presente no app 'main' -->
{% extends 'main/base.html' %}

<!-- Cria um bloco exclusivo de 'item_list' com o nome 'content' -->
{% block content %}
    <form method="get">
        <input type="text" name="pesquisar" placeholder="Buscar Item">
        <input type="submit" value="Pesquisar">
    </form>

    <a href="{% url 'item.novo' %}">Novo</a>
    <table border="2">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Data Adicao</th>
                <th>Checado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td>{{ item.nome_item }}</td>
                <td>{{ item.data_adicao|date:"d/m/Y" }}</td>
                <td>{{ item.checado }}</td>
                <td>
                    <!-- Passa o nome nome da url (rota) e o parâmetro id -> Primary Key (pk) -->
                    <a href="{% url 'item.editar' item.pk %}">Editar</a>
                    <a href="{% url 'item.remover' item.pk %}">Remover</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}