<!-- Herda o html do 'base.html' presente no app 'main' -->
{% extends 'main/base.html' %}

<!-- Cria um bloco exclusivo de 'item_list' com o nome 'content' -->
{% block content %}
  <div class="content">
    <div class="input">
      <form action="">
        <label class="sr-only" for="add-item">Informar item</label>
        <input type="text" id="id-item" name="item" placeholder="Informar item">
        <button nome="adicionar">Adicionar</button>
      </form>
    </div>
    <scroll-container>
      <div class="box-list">
        <ul>
            {% for item in object_list %}
                <li><input type="checkbox"><span>{{ item }}</span></li>
            {% endfor %}
        </ul>
      </div>
    </scroll-container>
  </div>
{% endblock content %}